h1{
    text-transform: uppercase;
    color: #6564ab;
    font-size: 65px;
}
h2{
    color: #6564ab;
    font-size: 45px;
}
h3{
    color: #6564ab;
    text-transform: uppercase;
    border-bottom: 3px solid #c8c8e1;
}
h6{
    padding-top:2px;
}
.headerContainer{
    padding: 15px;
}
.overHeaderContainer {
    background-color: #6564ab;
    padding:11px 10px 0px 10px;
}
.overHeaderContainer .contactInfo {
    float:right;
    margin-left: 30px;
    display:flex;
    color:white;
    font-size:14px
}
.logoContainer{

}
.linkContainer {
    display:flex;
    height: fit-content;
    justify-content: right;
}
.navbar {
    margin-top: 100px;
}
.bookSection{
    background-color: #64ab65;
    color:white;
}
.bookSection:hover{
    background-color: #4d8f4e;
}
.bookButton{
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 auto;
}
.bannerContainer {
    height:500px;
    background-image: url("project/static/img/banner_1.jpg");
    background-color: lightgray;
}
.navbar {
    justify-content: flex-end;
}
.bannerContainer {
    height:500px;
    background-image: url("project/static/img/banner_1.jpg");
    background-color: lightgray;
}
#mainContentContainer{
    padding: 20px 50px 20px 50px;
}
